{% extends 'APP/base.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-header">
        <h3>Detalhes da Reserva</h3>
    </div>
    <div class="card-body">
        <h4 class="card-title text-primary"><i class="bi bi-car-front-fill"></i> {{ reuniao.veiculo.placa }} - {{ reuniao.veiculo.modelo }}</h4>
        <hr>
        <p><strong><i class="bi bi-calendar-event text-danger"></i> Retirada:</strong> {{ reuniao.data_retirada|date:"d/m/Y" }}</p>
        <p><strong><i class="bi bi-calendar-check-fill" style="color: darkgreen;"></i> Devolução:</strong> {{ reuniao.data_devolucao|date:"d/m/Y" }}</p>
        <p><strong><i class="bi bi-person-check-fill text-info"></i> Solicitante:</strong> {{ reuniao.solicitante.get_full_name|default:reuniao.solicitante.username }}</p>
        <p><strong><i class="bi bi-geo-alt-fill text-warning"></i> Destino:</strong> {{ reuniao.destino }}</p>
        <p class="mt-4"><strong><i class="bi bi-card-text text-secondary"></i> Motivo da Reserva:</strong></p>
        <pre class="bg-light p-2 rounded">{{ reuniao.motivo }}</pre>
    </div>
    <div class="card-footer">
        <div class="row align-items-center text-center text-md-start">
            <div class="col-12 col-md-auto mb-3 mb-md-0">
                <span class="text-muted">
                    Agendado em: {{ reuniao.data_criacao|date:"d/m/Y H:i" }}
                </span>
            </div>
            <div class="col-12 col-md-auto ms-md-auto">
                <div class="d-flex gap-2">
                    {% if user == reuniao.solicitante %}
                        {% if pode_apagar %}
                        <a href="{% url 'editar_agendamento' reuniao.pk %}" class="btn btn-warning flex-fill px-1 px-md-3"><i class="bi bi-pencil-square"></i> Editar</a>
                        <a href="{% url 'apagar_agendamento' reuniao.pk %}" class="btn btn-danger flex-fill px-1 px-md-3"><i class="bi bi-trash-fill"></i> Apagar</a>
                        {% endif %}
                    {% endif %}
                    <a href="{% url 'dashboard' %}" class="btn btn-secondary flex-fill px-1 px-md-3"><i class="bi bi-arrow-left"></i> Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}